body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.flex-grow {
  flex-grow: 1;
}

.cur-pointer {
  cursor: pointer;
}

.overflow-scroll {
  overflow: scroll;
}

.max-height-500 {
  max-height: 500px;
}

.location-btn {
  border: none;
  border-radius: 50%;
  background: white;
  color: red;
  margin-right: 10px;
  font-size: 35px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  cursor: pointer;
  transition: .3s;
}
.location-btn:focus {
  outline: none;
}
.location-btn:hover {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.35);
}

.user-prefs-inpts {
  background-color: #a4c1c124;
}

.saved-locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 202, 255);
  border-top: 3px solid rgb(92, 179, 255);
  height: 100px;
}

.active-location {
  border-bottom: 3px solid rgb(25, 148, 255) !important;
}

.csv-download-link {
  background-color: rgb(141, 202, 255);
  color:rgb(25, 148, 255);
  padding: 15px;
  display: block;
}
